.error{
    color: red;
}

.main-grade{

    width: 50%;
    margin: auto;
}
.main-grade form {
    margin-left: 50px;
    margin-top: 20px;
}
main-grade select,label{
    margin: 5px;
    padding: 5px;
}

.main-grade1{

    width: 50%;
    margin: auto;
}
.main-grade1 form {
    margin-left: 50%;
    margin-top: 20px;
}
main-grade1 select,label{
    margin: 5px;
    padding: 5px;
}